#chart-page {
    .chart-btn {
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 500;
    }
    .MuiSnackbarContent-root {
        background-color: rgba(255, 255, 255, 0.8);
        margin-left: 0;
        border-radius: 3%;
      }
    .chart-container {
        .chart-windows {
            display: flex;
            flex-direction: column;    
            
            .chart-btn-group {
                display: flex;

                .chart-close-btn {
                    align-self: center;
                    margin-left: -.75rem;
                    margin-top: .75rem;
                }
                .chart-screen-btn {
                    align-self: center;
                    /* margin-left: 1rem; */
                    margin-top: .75rem;
                }
            }
        }
    }
}
