#header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color:#adcdd9;

    .header-summary {
        padding: .5rem;

        .header-content {
            font-size: 1.1rem;
            width: 100%;
            display: flex;
            justify-content:space-around;
        }
    }

    .header-details {
        padding: 1.5rem;
        display: flex;
        justify-content:space-around;
        
        .header-date-slider {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            text-align: left;
            font-size: 1.1rem;
            font-weight: 600;
            max-width: 35%;

            .date-group {
                display: flex;
                flex-direction: column;

                .date-selector {
                    display: flex;
                    justify-content:flex-start;
                    padding-block: 2rem;
    
                    .selector-item {
                        padding-right: .5rem;
                    }
                }
            }

            .slider-selector {
                display: flex;
                flex-direction: column;
                text-align: left;
                padding-block: 1rem;

                .slider-item {
                    padding-block: 2rem;
                    margin-inline: .5rem;
                    width: 90%;
                }
            }
        }

        .header-area {
            margin-left: 3rem;
            width: 65%;
            display: flex;
            flex-direction: column;
            text-align: left;
            font-size: 1.1rem;
            font-weight: 600;


            .area-group {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
                /* align-items: start; */
                
                .region-checkbox {
                    width: 100%;
                    
                }
                .city-checkbox {
                    /* background-color: aqua; */
                    /* width: 100%; */
                    display: flex;
                    justify-items: start;
                    
                }
            }
            .MuiFormControlLabel-label {
                font-family: 'Noto Sans TC';
                /* 其他樣式屬性 */
            }
        }
    }
}