#bubble-map {
    position: absolute;
    top: 65px;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 0;
}

.home-btn {
    position: absolute;
    top: 75px;
    bottom: 0;
    right: 0;
    left: 4px;
    z-index: 0;
    border-radius: 0;
}

.img_cnt {
    display: flex;
    justify-content: center;
    /* position: relative; */
    margin-top: 5px;
}
.map_img_cnt {
    position: absolute;
    right: 25px;
    bottom: 10px;
}
