#bubble-map {
    position: absolute;
    top: 65px;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 0;
}

.home-btn {
    position: absolute;
    top: 75px;
    bottom: 0;
    right: 0;
    left: 4px;
    z-index: 0;
    border-radius: 0;
}

.bubble-map-legend {
    position: absolute;
    /* top: 75px; */
    bottom: 20px;
    right: 10px;
    /* left: 4px; */
    /* z-index: 0; */
    /* background-color: rgb(255, 255, 255, 0.5); */

    .legend-item {
        display: flex;
        align-items: center;
        font-size: .75rem;
    }
}

.bubble-map-selector {
    position: absolute;
    top: 75px;
    right: 10px;
    padding-bottom: 0;

    .selector-container {
        display: flex;
        align-items: center;
        font-size: .75rem;
        margin: .4rem;

        .selector-remove-btn {
            display: flex;
            align-self: center;
            margin-right: .5rem;
        }
        .selector-remove-text {
            display: flex;
            align-self: center;
            margin-right: .5rem;
        }
    }
}